@charset "utf-8";


#Container{
	background-color:#3CF}

table#DadosPessoais {
	background-color: transparent;
	background:#08C9CC; 
	alignment-baseline:central;
	position:relative;
	width:90%;
	height:90%;
	left: 55px;
	
	}

