@charset "utf-8";
/* CSS Document */
ul.lista {
	list-style: none;
	text-align: center;
	font-size: 14px;
	/*CSS3*/
	border-radius: 5px;
}
li.lista {
	background-color: #3E78D2;
	color: #1c2f43;
	margin-top: 10px;
	border-style: solid;
	border-color: #3E78D2;
	border-width: 1px;
	border-radius: 5px;
}
li.listaclicada {
	background-color: #6ba2dc;
	margin-top: 10px;
	color: #FFFFFF;
	border-style: solid;
	border-color: #3E78D2;
	border-width: 1px;
	border-radius: 5px;
}
li.lista:hover {
	background-color: #6ba2dc;
	margin-top: 10px;
	cursor: pointer;
	color: #FFFFFF;
	border-style: solid;
	border-color: #3E78D2;
	border-width: 1px;
	border-radius: 5px;
}
#menu_lateral_esq{
	float:left;
	width: 204px;
}