#login{
	z-index: 9999;
	position: fixed;
	top: 0%;
	margin-left: 48.59%;
	background-color: #ebebeb;
	text-align: left;
	font-size: 14pt;
	color:#8d8d8d;
	font-family: "Lucida Sans Unicode";
	width: 644px;
	height: 33px;
}

#form{
	position: relative;
	top:5%;
	left:2%;
}

#btnLogin{
	width: 77px;
	height: 25px;
	background: url("../images/btn_login.png");
	position: relative;
	left:85%;
	top:-23px;
}

#btnLogin:hover{
	background: url("../images/btn_login_hover.png");
}

#topWraper{
	overflow: hidden;
	position: absolute;
	vertical-align: center;
	top:8%;
	width:1287px;
	left: 1.5%;
	height: 560px;
	bottom: 50%;
}

#rightSide{
	position: relative;
	float: right;
	width: 899px;
	height: 100%;
}

#cover{
	width: 899px;
	height: 512px;
	background: url("../images/imagem1.png");
	background-size:899px 512px;
	background-repeat: no-repeat;
	float: right;

}s

#leftSide{
	position: relative;
	width: 350px;
	height: 100%;

}

#topLogo{
	position: relative;
	left: 3.5%;
	width: 300px;
	height:	240px; 
	background: url("../images/topLogo.png");
	background-size: 300px, 240px;
}

#saberMais{
	position: relative;
	top:10px;
	left:70px;
	background:url("../images/btn_saber_mais.png");
	background-repeat: no-repeat;
	width: 215px;
	height: 55px;

}

#saberMais:hover{
	background: url("../images/btn_saber_mais_hover.png");
}

#pesquisar{
	position: relative;
	top:25px;
	width: 270px;
	height: 50px;
}

.pesquisar{
	left:1.1%;
	font-size: 18px;
}

/* Content Part */
#menuWrapper{
	position: relative;
	top:579px;
	left: 1.5%;
	width: 80%;
}

/* MENU */
#menu{
	position: relative;
	width:1287px;
	height: 95px;
	background: url("../images/menu_background2k.png");
	background-size: 	1287px, 95px;
	background-repeat: no-repeat;
}

#home{
	position: relative;
	width: 108.5px;
	height: 74px;
	left: 0.5%;
	top:9px;
	background: url("../images/btn_home.png");
}

#home:hover{
	background: url("../images/btn_home_hover.png");
}

#saude{
	position: relative;
	background-position: center;
	width: 227px;
	height: 75px;
	top:-65px;
	left: 126px;
	background: url("../images/btn_saude.png");
}

#saude:hover{
	background: url("../images/btn_saude_hover.png");
}

#creche{
	position: relative;
	left: 344px;
	width: 227px;
	height: 75px;
	top: -140px;
	background: url("../images/btn_creche.png");
}

#creche:hover{
	background: url("../images/btn_creche_hover.png");
}

#geriatricos{
	position: relative;
	left: 564px;
	width: 227px;
	height: 75px;
	top: -215px;
	background: url("../images/btn_geriatricos.png");
}

#geriatricos:hover{
		background: url("../images/btn_geriatricos_hover.png");
}

#irmandade{
	position: relative;
	left: 792px;
	width: 235px;
	height: 75px;
	top: -290px;
	background: url("../images/btn_irmandade.png");
}

#irmandade:hover{
	background: url("../images/btn_irmandade_hover.png");
}

#contactos{
	position: relative;
	left: 1036px;
	width: 235px;
	height: 75px;
	top: -365px;
	background: url("../images/btn_contactos.png");
}

#contactos:hover{
	background: url("../images/btn_contactos_hover.png");
}

#noticiasWrapper{
	z-index: 998;
	position: relative;
	width: 1273px;
	height: 500px;
	top:600px;
	left: 2%;
}

#noticiasIrmandade{
	position: relative;
	z-index: 997;
	background: url("../images/news_background.png");
	width: 330px;
	height: 486px;
	left: -22px;
	top:-22px;
}

#noticiasCreche{
	position: relative;
	background: url("../images/news_background.png");
	width: 330px;
	height: 486px;
	top:-507.8px;
	left: 307px;
}

#noticiasLar{
	position: relative;
	background: url("../images/news_background.png");
	width: 330px;
	height: 486px;
	top:-993px;
	left:635px;
}

#noticiasResidencial{
	position: relative;
	float: right;
	background: url("../images/news_background.png");
	width: 330px;
	height: 486px;
	top:-1479px;
	left:20px;
}

/* END of Menu */


/* ---------- FOOTER ------------------- */
#footerWraper{
	position: relative;
	background-color: #ebebeb;
	top:620px;
	width: 100%;
	height: 500px;
	overflow: hidden;
}
#footer{
	position: relative;
	height: 500px;
	width: 95%;
	left:2.9%;
}

#logoBaixo{
	position: relative;
	height: 178px;
	width: 481px;
}

#siteMap {
	position: relative;
	left: 0.5%;
	top: -270px;
	height: 250px;
	width: 230px;
}

#moradasFooter {
	position: relative;
	top: -535px;
	height: 250px;
	width: 300px;
	left: 270px;
}

#mapa{
	position: relative;
	width: 590px;
	height: 300px;
	left: 630px;
	top: -158px;
}

#morada{
	position: relative;
	height: 130px;
	left: 630px;
	width: 280px;
	top: -700px;
}

#contactosFooter{
	position: relative;
	height: 130px;
	left: 940px;
	width: 280px;
	top: -848px;
}

/* ---------- END FOOTER ------------------- */

/* --------------------------------------------- */
/* HTML Styling */
h1{
	font-family: "Lucida Sans Unicode";
	text-align:center;
	color: #5d8ace;
}

h2{
	font-family: "Lucida Sans Unicode";
	text-align:center;
	color: #5d8ace;
	font-size: 10px;
}