body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Century Gothic";
    font-size: 12pt;
    font-weight: 300;
    background-color: #FFFFFF; 
    color: #000000;
    margin: auto;
}

.header{
    margin-top: 49px;
    font-size: 10pt;
}

#imagem-logo{
    z-index: 1;
    position: fixed;
    background-color: transparent;
    top: 60px;
    left: 8.5px;
}

#imagem-header{
    width: 100%;
    min-width: 1300px;


}

#menu{
    z-index: 1;
    position: fixed;
    top: 0px;
    min-width: 1300px;
    width: 100%;
    height: 49px;
    background-image:url('imgs/tst.png');
    background-repeat: repeat-x;
}

#menu ul{
    margin-top: 0px;
    color: #000000;

}

#menu li
{
    display: inline-block;

}

#menu li a, #menu li span
{
    display: inline-block;
    position: relative;
    padding: 16px 25px;
    letter-spacing: 1px;
    left: 20px;
    text-decoration: none;
    font-size: 10pt;
    font-weight: 500;
    text-transform: uppercase;
    outline: 0;
    color: #FFFFFF;
    text-align: center;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
    color: #0e3d48;
}


body#home a#homenav,
body#news a#noticiasnav,
body#saude a#saudenav
{
    position: relative;
    color: #3E8CD2;
    background: #FFFFFF;
    text-align: center;
}

#changeheader{
    right: 10px;
    top:70px;
    position:absolute;
}

#changeheader img{
    vertical-align:middle;
}


#barra{
    z-index: 1;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 16px;
    width: 250px;
    height: 600px;
    background-image:url('imgs/barra.png');
    background-repeat: no-repeat;
}

#barra img{
    position: absolute;
    bottom: 30px;
    margin-left:20px;
}



#menubarra{
    position: fixed;
    list-style-type: none;
    left: -5px;
    top: 258px;
    width: 210px;

}

#menubarra li{
    margin-bottom: 14px;
    border-bottom:ridge ;
    border-bottom-color: #FFFFFF;
    border-radius: 1px;
    text-align: center;
    font-size: 16px;
    font-family: "Century Gothic";
}

#menubarra a{
    text-decoration: none;
    color: #FFFFFF;

}

#rodape{
    position: relative;
    width: 100%;
    height: 300px;
    bottom: 0px;
    margin-top: 100px;
    margin-bottom:0px;
    background-image: url('imgs/rod.png');
    background-repeat: repeat-x;
}

#blocksrodape{
    margin-left: 325px;
}

.blockrodape{
    width: 310px;
    height: 290px;
    margin-right: 20px;
    margin-top: 10px;
    display: inline-block;
    text-align: justify;
    vertical-align: middle;


}

.blockrodape h3{
    font-size: 18px;
    font-weight: 600;
    font-family: "Nyala";
    text-transform: uppercase;
    text-align: justify;
    color: #3E8CD2;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.6);
    box-shadow: 0 1px 0 rgba(0,0,0,.2);
}

.blockrodape p{
    font-family: "Segoe UI Light";
    line-height: 100%;
    font-size: 14px;
    text-align: justify;
}

.blockrodape h4{

    font-size: 14px;
    font-weight: 700;
    font-family: "Segoe UI Light";
    text-transform: uppercase;
    text-align: justify;
    color: #3E8CD2;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.6);
}

.blockrodape h6{
    line-height: 0%;
    font-size: 10px;
    font-weight: 700;
    font-family: "Segoe UI Light";
    text-transform: uppercase;
    text-align: justify;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.6);
}


ul.dropdown {
    position: fixed;
    width: 100%;
    min-width: 1300px;
    display: none;
}

li:hover > ul.dropdown {
    position: fixed;
    cursor: pointer;
    background-image: url('imgs/rod.png');
    background-repeat: repeat-x;
    padding: 0px 0px;
    left: 266px;
    padding-right: 50px;
    display: block;
    font-size: 11px;
    font-family: "Segoe UI Light";
    color: #0e3d48;
}

#dropdown li:hover a, #dropdown li.active a, #dropdown li.active span
{
    color: #3E8CD2;
}

#arealogin{
    position: fixed;
    z-index: 2;
    width:250px;
    top:295px;
    height: 276px;
background-image:url('imgs/barra.png');
    background-repeat: no-repeat;
    display: none;
}

#arealogin form{
    margin-left: 10px;
    margin-right: 10px;
}

#arealogin label{
    color: #fff;
}

input, textarea, select{
    font-family: "Segoe UI Light";
}

input.submit {
    font-family: "Segoe UI Light";
    width: 80px;
    border: none;
    padding: 10px 10px 10px 10px;
    margin-left: 145px;
    color: #333333;
}

li#ferr{
    display: none;
}