#formulariocontacto{
    position: relative;
    top: 0px;
    left:450px;
}

#formulariocontacto h2{
    color:#3E8CD2;
    font-family: "Segoe UI Light";
    text-transform: uppercase;
    text-align: justify;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.6);
    font-size: 20px;

}
input, textarea, select{
    font-family: "Segoe UI Light";
}

input.button {
    background-color: #3E8CD2;
    font-family: "Segoe UI Light";
    width: 80px;
    border: none;
    padding: 10px 10px 10px 10px;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2), 0 1px 0 rgba(0,0,0,.6);
}