#valency_content {
    width: 100%;
}
.valency {
    width: 92%;
    display: inline-block;
    margin: 0 auto;
    margin-left: 20px;
}
.img_valency,
.valency_resume,
.test {
    display: inline;
    float: left;
    width: 30.9%;
    margin: 0 1% 1% 1%;
}
#news {
    margin-top: 20px;
    width: 100%;
    float: left;
}
.post .img_post{
  height: 25%;
}

.post {
     width: 90%;
    margin-top: 0;
}
.content_div_title{
    margin-top: 50px;
   float: right;
}