  .container{
	clear: both;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	height: 1400px;
	border-bottom: 2px solid #d9ced2;
	margin-bottom: 15px;
	width: 1024px;
  }

strong {
	color: #145189;
}
.info_acordo .logo_acordo {
	width: 100px;
	height: 100px;
	float: left;
}
.container .info_acordo {
	float: left;
	width: 980px;
	height: auto;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	margin-left: 15px;
	padding-left: 15px;
}
.info_acordo .inclui_acordo {
	float: left;
	color: #333333;
	font-size: 14px;
	text-align: justify;
	width: 875px;
}
.container .info_acordo h3 {
	color: #6eaee9;
}
.info_acordo .inclui_acordo ul li {
	list-style-image: url(../images/check_14px_blue.png);
}
.info_acordo .inclui_acordo ul {
	float: left;
	margin-top: 0px;

}
