#menu_hospital  {
	height: 50px;
	float: left;
	width: 1000px;
	position: relative;
	top: -20px;
	margin-left: 12px;
	
	background-image: linear-gradient(180deg,rgba(142,190,233,1.00) 0%,rgba(20,81,137,1.00) 100%);
	opacity: 0.9;
	border-radius: 10px 5px;
	text-indent: 20px;
}
#hosp_logo {
	height: 350px;

}

#header_hospital #menu_hospital li:hover {
	background-color: #145189;
}

#header_hospital #menu_hospital li {
	display: inline;
	border-spacing: 10px 10px;
	border-left: 1px solid #999999;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 500;
	text-transform: uppercase;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 14px;
}
#header_hospital #menu_hospital ul a  {
	
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 500;
	text-transform: uppercase;

}
.container #header_hospital {
	float: left;
}
.container .title_top_hospital {
	height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	float: left;
	width: 994px;
	margin-left: 15px;
	color: #145189;
	font-weight: bold;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 5px;
	
}

.btn_img_search {
	background-image: url(../images/search_gray.png);
	background-repeat: no-repeat;
	width: 26px;
	height: 26px;
	border-style: none;
	background-color: #FFFFFF;
	float: right;
	cursor:pointer;
}
.search_bar  {
	width: 994px;
	float: left;
	clear: both;
	height: 28px;
	margin-left: 15px;
	text-align: right;
	padding-top: 10px;
}
.field_search {
	width: 170px;
	background-color: #fff;
	color: #a3a1a1;
	font: italic 14px/20px 'Open Sans', sans-serif;
	height: 26px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding-bottom: 9px;
	padding-left: 16px;
	padding-right: 16px;
	margin-right: 15px;
	border-bottom: 1px solid #bbafaf;
	padding-top: 6px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}
